<p>
  UserLogin works!
</p>
{{isUserLogged}}

<form class="col-6 p-4">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
    </div>
    <a href="http://localhost:9090/oauth2/authorize?client_id=aabouemira&redirect_uri=https://oidcdebugger.com/debug&scope=read&response_type=code&response_mode=form_post"> click</a>
    <button type="button"(click)="Login()" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>
<!-- <button type="button" [disabled]="isUserLogged" (click)="Login()" class="btn btn-primary">Login</button>
<button type="button" [disabled]="!isUserLogged" (click)="Logout()" class="btn btn-danger">LogOut</button> -->
